version: "3.9"

services:
  frontend:
    container_name: "kpd_frontend"
    build: ./frontend
    restart: unless-stopped
    ports:
      - "8081:80"

  backend:
    container_name: "kpd_backend"
    build: ./backend
    networks:
      - backend_net
    env_file: ./backend/.env
    restart: unless-stopped
    ports:
      - "4000:4000"
    depends_on:
      - database

  database:
    container_name: "database"
    image: "postgres:12"
    networks:
      - backend_net
    env_file: ./backend/.env
    restart: unless-stopped
    volumes:
      - pg_data:/var/lib/postgresql/data

volumes:
  pg_data:
    driver: local

networks:
  backend_net:
    driver: bridge
